name: Build-Push-Deploy  # name of the workflow
on:
  push:
    branches:
      - main  # trigger the workflow on push to the main branch

jobs:
  build_push_deploy:
    runs-on: ubuntu-latest  # specify the runner environment

    steps:
      - name: Checkout code
        uses: actions/checkout@v3  # check out the repository code

      - name: Setup Java
        uses: actions/setup-java@v3  # set up Java environment
        with:
          distribution: 'temurin'  # specify the Java distribution
          java-version: '17'  # specify the Java version

      - name: Build with Maven
        run: mvn -B package
      - name: Login to Docker Hub
        uses: docker/login-action@v1  # log in to Docker Hub
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}  # use Docker Hub username from secrets
          password: ${{ secrets.DOCKERHUB_TOKEN }}  # use Docker Hub password from secrets

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/java-docker-app:latest .  # build the Docker image and tag it
      - name: Push Docker image to Docker Hub
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/java-docker-app:latest # push the Docker image to Docker Hub
      - name: Deploy Container to DockerHub
        uses: appleboy/ssh-action@v1.1.0  # deploy to Docker Hub using SSH
        with:
          host: ${{ secrets.EC2_HOST }}  # use EC2 host from secrets
          username: ${{ secrets.EC2_USER }}  # use EC2 username from secrets
          key: ${{ secrets.EC2_SSH_KEY }}  # use EC2 SSH key from secrets
          script: |
            docker rm -f javaapp || true  # remove any existing Docker container named javaapp
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/java-docker-app:latest  # pull the latest Docker image from Docker Hub
            docker run -d -p 8080:8080 --name javaapp ${{ secrets.DOCKERHUB_USERNAME }}/java-docker-app:latest  # run the Docker container
            docker ps  # list running Docker containers